/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #d57a66;
  --ion-color-primary-rgb: 213, 122, 102;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #bb6b5a;
  --ion-color-primary-tint: #d98775;

  --ion-color-secondary: #dc2f02;
  --ion-color-secondary-rgb: 220, 47, 2;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #c22902;
  --ion-color-secondary-tint: #e0441b;

  --ion-color-tertiary: #023047;
  --ion-color-tertiary-rgb: 2, 48, 71;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #022a3e;
  --ion-color-tertiary-tint: #1b4559;

  --ion-color-success: #ffb703;
  --ion-color-success-rgb: 255, 183, 3;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #e0a103;
  --ion-color-success-tint: #ffbe1c;

  --ion-color-warning: #fb8500;
  --ion-color-warning-rgb: 251, 133, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dd7500;
  --ion-color-warning-tint: #fb911a;

  --ion-color-danger: #d64933;
  --ion-color-danger-rgb: 214, 73, 51;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bc402d;
  --ion-color-danger-tint: #da5b47;

  --ion-color-medium: #03071e;
  --ion-color-medium-rgb: 3, 7, 30;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #03061a;
  --ion-color-medium-tint: #1c2035;

  --ion-color-light: #faa307;
  --ion-color-light-rgb: 250, 163, 7;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dc8f06;
  --ion-color-light-tint: #fbac20;

  /* custom color variables */

  --cause-why-not-gradient: linear-gradient(
    329deg,
    rgba(224, 222, 12, 1) 3%,
    rgba(208, 118, 110, 1) 12%,
    rgba(139, 15, 177, 1) 23%,
    rgba(87, 0, 0, 1) 42%,
    rgba(13, 86, 177, 1) 59%,
    rgba(183, 6, 6, 1) 81%,
    rgba(222, 124, 90, 1) 95%
  );
}
