.container {
  background-color: var(--ion-color-secondary-tint);
  padding: 10% 10% 10% 10%;
  height: 100%;
  padding-bottom: 10rem;
  overflow: auto;
  color: var(--text-color);
}

.outer-unit-class {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--text-color);
}

.input-num {
  --color: var(--ion-color-tertiary-contrast);
}

.container ion-input {
  width: 50px;
  margin: 10px auto 10px auto;
  --background: var(--ion-color-secondary-shade);
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 17% 10% 10% 10%;
    height: 100%;
  }
}

section.info-section {
  color: var(--text-color);
}

section.info-section p {
  color: var(--text-color-inner);
}

.number-display {
  font-size: 1.5em;
  margin-top: 2px;
}
